@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

/* Logo */
.logo img{
    margin-left: 10px;
    width: 100px;
    height: auto;
    border-radius: 90%;
}

/* Icons */
.icons ul {
    display: flex;
    margin-left: 75px;
    gap: 25px;
    padding: 10px;
    list-style: none;
}

.icons li {
    --color: #ebe4e5;
}

.icons a {
    display: flex;
    width: 40px;
    height: 40px;
    background: #121217c4;
    border-radius: 15px;
    box-shadow:
        -2px -2px 3px #ffffff0d,
        3px 3px 3px #00000000;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.icons .fa-brands {
    font-size: 29px;
    color: #a5a5a5;
}

.icons a:hover .fa-brands {
    color: var(--color);
    text-shadow: 0 0 30px;
}

.icons li:nth-child(2) {
    --color: #d84766;
}

.icons li:nth-child(3) {
    --color: #1f7ce0;
}

/* Trending Section */
.midFade img{
    margin-left: 10px;
    width: 100px;
    height: px;
    border-radius: 90%;
}
.mid_fade-card{
    width: 400px;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
}
.mid_fade-card .mf_image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
        0.5s ease-in-out;
}
.mid_fade-card::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition:
        0.4s ease-in-out;
}
.mid_fade-card:hover img{
    filter:
        grayscale(1)
        brightness(0.4);
}
.mid_fade-card:hover::after{
    opacity: 1;
    inset: 20px;
}
.mid_fade-card:hover .mid_fade-content h2{
    scale: 1;
    opacity: 1;
}
.mid_fade-card:hover .mid_fade-content p{
    opacity: 1;
    transform: translateY(0);
}
/* Review Section */
.person1{
    margin-right: 500px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
}
.person2{
    margin-right: 500px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
}
.person3{
    margin-right: 500px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
}