.person1{
    margin-right: 500px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
}
.person2{
    margin-right: 500px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
}
.person3{
    margin-right: 500px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
}
  


  



  
  


